*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 119, 79);
    text-align: center;
}
.container{
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* padding-top: 1rem; */
}

.box{
    height: 18vh;
    width: 15vw;
    border-radius: 0.7rem;
    border: none;
    font-size: 1.5rem;
    background-color: bisque;
    color: black;
}

#reset-btn{
  margin-top: 1.5rem;
  height: 1.5rem;
  width: 6rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 1rem;
}

#new-game{
    height: 2rem;
    width: 9rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
#winmsg{
    font-size: 1.5rem;
    font-weight: 700;
    color: bisque;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  .hide{
    display: none;
}

